/*------------------------------ Fuentes ------------------------------*/
@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-Regular.eot');
	src: local('☺'),  url('../fonts/Muli-Regular.woff') format('woff'),  url('../fonts/Muli-Regular.ttf') format('truetype'),  url('../fonts/Muli-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Muli-Light';
	src: url('../fonts/Muli-Light.eot');
	src: local('☺'),  url('../fonts/Muli-Light.woff') format('woff'),  url('../fonts/Muli-Light.ttf') format('truetype'),  url('../fonts/Muli-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NixieOne';
	src: url('../fonts/NixieOne-Regular.eot');
	src: local('☺'),  url('../fonts/NixieOne-Regular.woff') format('woff'),  url('../fonts/NixieOne-Regular.ttf') format('truetype'),  url('../fonts/NixieOne-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*------------------------------ General ------------------------------*/

body {
	background-color: #e4e4e4;
	font-family: 'Muli-Light';
	margin: 0;
}
#minibody {
	margin-left: 15px;
}
#page {
	width: 960px;
	margin: 0 auto;
	padding: 96px 0 0;
}
/*------------------------------ Sprites ------------------------------*/
#header span.shadow, #footer span.shadow {
	background: url(../images/shadows.png) repeat-x;
}
.play1, .play2, .play3, .btn, .previous, .next, #performances{
	background: url(../images/buttons.png) no-repeat;
}
/*------------------------------ HEADER ------------------------------*/
#header {
	background-color: #5d0227;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
#header > div {
	height: 90px;
	width: 940px;
	margin: 0 auto;
    text-align: center;
}
#header span.shadow {
	background-position: 0 -20px;
	display: block;
	height: 8px;
	width: 100%;
	position: absolute;
	bottom: -8px;
	z-index: 999;
}
/** Navigation **/
#school {
	color: #fff;
    margin-right: 200px;
    margin-left: 15px;
    margin-bottom: 60px;
}
#navigation {
	display: inline-block;
	list-style: none;
	width: 480px;
	margin: 30px 0 0;
	padding: 0;
}
#navigation li {
	float: left;
	margin-left: 15px;
}
#navigation li a {
	color: #8c8c8c;
	font-family: 'Muli-Light';
	font-size: 15px;
	line-height: 54px;
	text-decoration: none;
}
#navigation li a:hover, #navigation li.selected a {
	color: #fff;
}
/*------------------------------ CONTENTS ------------------------------*/
#contents > div {
	display: inline-block;
	width: 100%;
	padding-top: 30px;
    padding-bottom: 30px;
}
#contents > div.body {
	width: 950px;
	padding-left: 10px;
}
#contents h2, #contents h3 {
	color: #000;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 24px;
	text-transform: uppercase;
}
#contents p {
	color: #333333;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
	padding: 0 0 24px;
}
#contents p a {
	color: #606060;
}
#contents p a:hover {
	color: #000;
}
#news {
	float: left;
    min-height: 180px;
	height: auto;
    width: 50%;
    border-collapse: collapse;
    background-position: 0 0;
	background-repeat: repeat-y;
}
#news ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#news li p {
    color: #000;
}
#updates {
	float: right;
    min-height: 180px;
	height: auto;
    width: 50%;
    border-collapse: collapse;
    background-position: 0 0;
	background-repeat: repeat-y;
}
#updates ul {
	color: #606060;
	list-style: none;
	margin: 0;
	padding: 0;
}
#updates li {
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 26px;
}
#updates li a {
	color: #606060;
	text-decoration: none;
}
#updates li a:hover {
	text-decoration: underline;
}
#updates li span.time {
	display: inline-block;
	float: left;
	font-family: "Muli";
	font-size: 13px;
	line-height: 24px;
	width: 90px;
	margin-bottom: 6px;
	margin-right: 10px;
}
/*Frames*/
.frame1{
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    box-shadow: 10px 10px 5px grey;
    margin-bottom: 30px;
}
/*Forms*/
#forms {
	margin-bottom: 30px;
}
#forms > div {
	background-position: left 0;
	height: 500px;
	width: 450px;
	padding: 0 38px 0 10px;
}
#forms form {
	float: left;
	width: 200px;
	padding: 0 0 0 20px;
}
#forms label {
	color: #606060;
	display: block;
	font-size: 13px;
	line-height: 15px;
}
#forms input.txtfield {
	height: 25px;
	width: 360px;
	border: 1px solid #b3b3b3;
    margin-bottom: 15px;
}
#forms select {
	height: 25px;
	width: 360px;
	border: 1px solid #b3b3b3;
	margin-bottom: 15px;
}
#forms input.btn {
	color: #fff;
    background-color: black;
	cursor: pointer;
	font-family: "Muli";
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	width: 90px;
	border: 0;
}
#forms input.btn:hover {
	filter:alpha(opacity=60);
	opacity: 0.6;
}
/*Panels*/
#leftpane {
    background-color: #fff;
	float: left;
    min-height: 330px;
	height: auto;
    width: 22%;
    margin-right: 15px;
}
#middlepane {
	float: left;
    min-height: 180px;
	height: auto;
    width: 52%;
}
#rightpane {
    background-color: #fff;
	float: right;
    min-height: 330px;
	height: auto;
    width: 22%;
    margin-left: 15px;
}
#leftpane li a, #minibody li a, #rightpane li a {
	color: #606060;
	text-decoration: none;
}
#leftpane li a:hover, #minibody li a:hover, #rightpane li a:hover {
	text-decoration: underline;
}
/*------------------------------ FOOTER ------------------------------*/
#footer {
	background-color: #828282;
	color: #ffffff;
	font-size: 12px;
	line-height: 22px;
	width: 100%;
	position: absolute;
	left: 0;
}
#footer span.shadow {
	background-position: 0 0px;
	display: block;
	height: 8px;
	width: 100%;
	position: absolute;
	left: 0;
	top: -8px;
}
#footer h5 {
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px;
	text-transform: uppercase;
}
#footer a {
	color: #ffffff;
	text-decoration: none;
}
#footer a:hover {
	color: #000000;
}
#footer > div {
	width: 940px;
	margin: 0 auto;
}
#footer > div:after {
	clear:both;
	content:"";
	display:block;
	height:0;
	line-height:0;
	visibility:hidden;
}
#footer div.section {
	float: left;
	background-position: 0 -498px;
	min-height: 150px;
	width: 200px;
	margin-left: 20px;
	padding: 15px 0 0px 30px;
}
#footer div.section:first-child {
	background: none;
	margin-left: 0;
	padding-left: 0;
}
#footer ul {
	display: inline-block;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
#footer li {
	margin: 0 0 6px;
}
#footer .navigation li, #footer .connect li {
	float: left;
	width: 100px;
}